@import "@/assets/styles/main.scss";
.Login{
    .login-container {
        background-color: $cor-input;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 2em;
        width: 100%;
        max-width: 400px;
        margin: 2em auto;
    
        h1 {
            text-align: center;
            color: $azul-principal;
            margin-bottom: 1.5em;
        }
    }
    
    .login-form {
        display: flex;
        flex-direction: column;
    
        .form-group {
            margin-bottom: 1em;
    
            label {
                display: block;
                margin-bottom: 0.5em;
                color: $cor-Texto;
            }
    
            input {
                width: 100%;
                padding: 0.75em;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 1rem;
                box-sizing: border-box;
    
                &:focus {
                    border-color: $amarelo-principal;
                    outline: none;
                    box-shadow: 0 0 0 2px rgba($amarelo-principal, 0.2);
                }
            }
        }
    
        .forgot-password {
            margin-top: 0.5em;
            text-align: right;
            font-size: 0.9rem;
    
            a {
                color: $cinza-unselected;
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
        .submit-button,
        .signup-button {
            width: 100%;
            padding: 0.75rem;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            font-weight: bold;
            color: $branco-principal;
            cursor: pointer;
            margin-top: 1rem;
            transition: background-color 0.3s ease;
        }
    
        .submit-button {
            background-color: $amarelo-hover;
    
            &:hover {
                background-color: $amarelo-principal;
            }
        }
    
        .signup-button {
            background-color: lighten(#0D0E12, 20%);
            color: $branco-principal;
    
            &:hover {
                background-color: darken($azul-principal, 10%);
            }
        }
    }
}
    